<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameJob</title>
     <link rel="shortcut icon" type="image/png" href="../../img/favicon.ico">
    <link rel="stylesheet" href={{style}}>
    <link rel="stylesheet" href={{styleUsuario}}>
    <link rel="stylesheet" href={{styleNewUser}}>
    <link rel="stylesheet" href={{styleSoporte}}>
    <link rel="stylesheet" href={{styleBlogs}}>
    <link rel="stylesheet" href={{styleOfertas}}>
    <link rel="stylesheet" href={{styleConfiguration}}>
    <script src={{js1}}></script>
    <script src={{usuariosjs}}></script>
    <script src={{newUserjs}}></script>
    <script src={{soportejs}}></script>
    <script src={{blogsjs}}></script>
    <script src={{ofertasjs}}></script>
    <script src={{configurationjs}}></script>
    <script src="https://kit.fontawesome.com/5375db3687.js" crossorigin="anonymous"></script>
</head>
<body>
    {{{body}}}
</body>
</html>